@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

html {
  @apply font-['poppins'] font-[poppins]
}

body {
  @apply bg-[#f5f5f4]
}

h1, h2, h3 {
  @apply font-Poppins font-Poppins
}

.bg-loading {
  background-image:url('/gambar/background.jpg')
}

.logo{
  @apply font-PermanentMarker font-bold
}